body{
    background-color: #E7F6F2;
    text-align: center;
    margin: 0;
}

#color{
    background-color: #002538;
    
}

.mountain{
    width: 800px;
    margin: 150px 0 0;
}

.topcloud{
    width: 300px;
    position: absolute;
    right: 100px;
    top: 30px;
}

.bottomcloud{
    width: 350px;
    position: absolute;
    left: 70px;
    top: 300px;
}

.moon{
    width: 150px;
    position: absolute;
    left: 120px;
    top: 230px;
}

.intro{
    color: #fff;
    padding: 110px 0 0;
}

.intro h1{
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    font-weight: normal;
    margin: 0;
}

.intro p{
    font-size: 22px;
    font-weight: normal;
    font-family: 'Cutive Mono', monospace;
    margin: 15px auto;
}

.intro span{
    text-decoration: underline;
}

.second{
    background-color: #E7F6F2;
    margin: 0;
}

.second img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.containerfirst img{
    margin: 40px 0 10px;
}

h2{
    color: #286973;
    font-family: 'Tilt Neon', cursive;
    font-weight: 300;
    font-size: 40px;
    margin: 100px 0;
}

h3{
    color: #286973;
    font-family: 'Ubuntu', sans-serif;
}

p{
    line-height: 2;
    width: 35%;
    margin: 10px auto 100px;
    font-size: 19px;
}

.containerfirst h2{
    margin: 25px 0 auto;
}

hr{
    border-top: 7px dotted #002538;
    width: 60px;
    margin: 50px auto;
}


.containersecond h2{
    margin: 100px auto 60px;
}

.left{
    float: left;
}

.skill img{
    margin: 0 30px 10px 0;
}

.skill{
    margin: 100px auto;
    margin-top: 50px;
    width: 60%;
    text-align: left;
}

.skill p{
    width: auto;
    text-align: justify;
}

.right{
    float: right;
}

.project img{
    margin: 0 30px 10px;
}

.project{
    margin: 100px auto;
    width: 60%;
    text-align: right;
}

.project p{
    width: auto;
    text-align: justify;
}

.third h2{
    margin-bottom: 50px;
}

.third p{
    width: 40%;
    margin-bottom: 0px;
}

.btn {
    background-image: linear-gradient(to top, #4f95b8, #002538);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 40px auto;
}

.btn a{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;

}
  
.btn:hover {
    background: #18898f;
    text-decoration: none;
}

#lastcolor{
    background-color: #002538;
    padding: 20px;
    margin: 0; 
}

.fourth p{
    margin-bottom: 0;
    font-size: 10px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.fourth a{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    margin: 10px;
    color: #57d0d8;
}

.fourth a:hover{
    color: #E7F6F2;;
}